<ng-container *ngIf="data; else loading">
  <div class="myVerticalSpace">
    <h3>{{title}}</h3>
  </div>
  <div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="" data-toggle="collapse" (click)="crudType = 'simple';" [ngClass]="{active: crudType == 'simple'}">Simple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-toggle="collapse" (click)="crudType = 'upload';" [ngClass]="{active: crudType == 'upload'}">Importer fichier</a>
        </li>
      </ul>
    </div>
    <div>
      <div *ngIf="crudType == 'simple'">
        <app-simple
        [initItem]="initItem"
        [initCrudForm]="initCrudForm"
        [data]="data"
        [service]="service"
        [dataDesc]="dataDesc"
        ></app-simple>
      </div>
      <div *ngIf="crudType == 'upload'">
        <app-upload
          [dataDesc]="dataDesc"
        ></app-upload>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
    Loading...
</ng-template>
